body > .scaffold > :is(top-nav, navigation-rail, side-nav, footer),
main > :not(:last-child),
main > :last-child > navigation-tree,
main .toc-container {
  display: none;
}

main > :last-child {
  margin-top: min(10vmax, 10rem);
  margin-bottom: min(10vmax, 10rem);
}

body{
    background-color: rgb(192, 43, 35);
}

p {
    color:rgb(38, 95, 0);
    font-weight: bold;
}
